.spacer {
  flex: 1;
}

div {
  display: flex;
}

.b35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.b35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  max-width: 240px;
  height: 200px;
  padding: 16px 20px;
  border-radius: 15px;
  color: #404660;
  border: none;
  background: #fff;
  transition: box-shadow 0.25s;
  box-shadow: inset 0 0 0 1px;
}
